# CORE WEB ENGINE
Django>=5.1
gunicorn
whitenoise[brotli]
dj-database-url
python-dotenv
psycopg2-binary

# AI & IMAGE PROCESSING (The Heavy Stuff)
# We let pip choose the best matching versions for these
tensorflow-cpu>=2.16.1
keras
numpy<2.0.0
pillow
ml_dtypes

# UTILITIES & EXTERNAL APIs
razorpay
requests
haversine
asgiref